<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDAO">
    <insert id="save">
        insert into t_user values(id=#{id},
        username=#{username},dharmaname=#{dharmaname},
        image=#{image},sex=#{sex},address=#{address},
        signature=#{signature},password=#{password},state=#{state})
    </insert>
  <update id="updatePassword">
      update t_user set password=#{password}
  </update>
    <select id="login" resultType="com.baizhi.entity.User">
        select * from t_user where username=#{username} and password=#{password}
    </select>
    <select id="queryAll" resultType="com.baizhi.entity.User">
        select * from t_user limit #{0},#{1}
    </select>
    <update id="updateUser">
        update t_user set username=#{username},dharmaname=#{dharmaname},image=#{image},sex=#{sex},address=#{address},signature=#{signature},password=#{password},state=#{state}
    </update>
    <select id="queryLength" resultType="Long">
        select count(id) from t_user
    </select>

</mapper>
